@import '../../../../styles/variables';
@import '../../../../styles/fonts';

.search {
  width: 100%;
  height: 75px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  input {
      height: 50px;
      line-height: 50px;
      width: 100%;
      font: $font-base;
      font-weight: 300;
      font-size: 14px;
      border: 1px solid $app-secondary;
      border-radius: $app-radius;
      text-indent: 30px;
      background: url('../../../../images/search.png') no-repeat transparent left 10px center;
      background-size: 10px;
      outline: none;

  }
}