/* utilities */
$primary: #34C228;
$light-grey: #DFDFDE;
$dark-grey: #C5C5C4;
$light-dark: #636363;
$red: #EE5F5B;
$phone: "(min-width: 320px) and (max-width: 568px)";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
    font-family: BrownLight;
    font-weight: lighter;
    src: url("https://cdn.aircall.io/fonts/brown-light.ttf");}
@font-face {
    font-family: BrownRegular;
    src: url("https://cdn.aircall.io/fonts/brown-regular.ttf");}
@font-face {
    font-family: BrownBold;
    font-weight: bold;
    src: url("https://cdn.aircall.io/fonts/brown-bold.ttf");}


/* mixin */

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
      -webkit-box-direction: reverse;
      -webkit-box-orient: horizontal;
  } @else if $value == column {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
      -webkit-box-direction: reverse;
      -webkit-box-orient: vertical;
  } @else {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}       

@mixin flex-wrap($value: nowrap) {-webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {-ms-flex-wrap: none;} 
  @else {-ms-flex-wrap: $value;}
  flex-wrap: $value;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
  } @else if $value == flex-end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
  } @else if $value == space-between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  } @else if $value == space-around {
      -ms-flex-pack: distribute;        
  } @else {
      -webkit-box-pack: $value;
      -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
      -webkit-box-align: start;
      -ms-flex-align: start;
  } @else if $value == flex-end {
      -webkit-box-align: end;
      -ms-flex-align: end;
  } @else {
      -webkit-box-align: $value;
      -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

$phone: "(max-height: 460px)";

html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: #000000;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;

  &::before {
    content: '';
    position: absolute;
    background-image: url('http://www.gstatic.com/prettyearth/assets/full/1014.jpg');
    background-size: cover;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(88, 88, 88, 0.5);
    z-index: 10;
  }
}

.container {
  position: fixed;
  max-width: 375px;
  max-height: 666px;
  min-width: 260px;
  min-height: 420px;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
}

.header{
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  flex: 0 1 auto;
  img{
    height: 35px;
    border-radius: 50%;
    margin: 10px;
  }
  p{
    font-family:"BrownBold", sans-serif;
    font-size: 17px;
  }
}
.separator {
  height: 1px;
  background: $light-grey;
  width: 85%;
  margin: 0 auto;
  flex: 0 1 auto;
}
.dialer{
 flex: 0 1 100%;
 @include flexbox
 @include flex-direction(column);
 margin-top: 25px;
  @media  #{$phone} {
    margin-top: 5px;
  }
}

.input {
  border: 1px solid $light-grey;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 85%;
  height: 75px;
  min-height: 31px;
  margin: 0 auto 0;
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  
  input{
    font-family:"Brownlight", sans-serif;
    font-size: 30px;
    border: none;
    color: $light-dark;
    padding-left: 10px;
    width:85%;
    flex: 0 1 auto;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  
  i {
    color: $dark-grey;
    font-size: 16px;
    // margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform:scale(1.3);
    }
  }
}


.keyboard{
  border: 1px solid $light-grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 85%;
  margin: 0 auto;
  flex: 1 1 auto;
  min-height: 200px;
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(center);
  .col-1{
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  flex: 1 1 33%;
}

.col-2{
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  flex: 1 1 33%;
}

.col-3{
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  flex: 1 1 33%;
}
}

.number {

  button{
    font-family:"BrownLight", sans-serif;
    font-size: 32px;
    color: $light-dark;
    border:none;
    text-decoration: none;
    background:none;
    outline: none;
    cursor: pointer;
    transition: ease-in .2s;
    flex: 0 1 auto;
     &:hover {

    color: $primary;
    }
  }


  li {
    font-family:"BrownLight", sans-serif;
    color: $light-dark;
  }
  
  
  .num1 {
    margin-top: -13px
  }
  
  .star{
    font-size: 35px;
    font-weight:lighter;
    margin-top: 13px;
  }
  
  ul {
    list-style: none;
    @include flexbox;
    
    li {
      margin-top: 2px;
      font-size: 12px;
      font-weight: 600px;
      color: $light-grey;
    }
  }
}



.select-country{
  border: 1px solid $light-grey;
  border-radius: 10px;
  width: 85%;
  min-height: 30px;
  margin: 25px auto 0;
  position: relative;
  padding: 7px 0 7px 0;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);
  flex: 0 1 auto;
  cursor: pointer;
  @media  #{$phone} {
    margin: 5px auto 0;
  }
  i{
    color: $dark-grey;
    font-size: 10px;
  }
  p{
    white-space: pre-line;
    color: $light-grey;
    font-size: 10px;
    font-family:"BrownBold", sans-serif;

  }
  .user-infos{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    
    .flag{ 
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 3px solid white;
      box-shadow: 0 0 0 1px $light-grey;
      background-image:url("../images/fr2x.png");
      background-size: 17px 17px, cover;
      background-position: center;
    }
    .description{
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      margin-right:50px;
      p{
        color: #C0C4C3;
        font-size: 10px;
        font-family:"BrownRegular", sans-serif;
        margin: 0 0 0 7px;
      }
      h3{
        font-family:"BrownBold", sans-serif;
        margin: 0 0 0 7px;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    background: white;
    z-index: 150;
  }
}


.call{
  // flex: 0 1 auto;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
  .button{ 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 0 0 1px $light-grey;
    z-index: 250;
    cursor: pointer;
    position: relative;
    background: linear-gradient(#2CAD00, #4AC420);
    background: -webkit-linear-gradient(#2CAD00, #4AC420);
    background: -o-linear-gradient(#2CAD00, #4AC420);
    background: -moz-linear-gradient(#2CAD00, #4AC420);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @media  #{$phone} {
      width: 45px;
      height: 45px;
     }
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;      
    }
    .beta{
      position: absolute;
      top: 10px;
      right: -20px;
      font-size: 8px;
      color: white;
      border: 2px solid white;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      padding: 0 6px;
      line-height: 0.6px;
      text-align: center;
      border-radius: 3px;
      background: $red;
      font-family:"BrownBold", sans-serif;
      font-weight: bolder;
    }
  }
  .separator {
  position: absolute;
  }
}

