$app-background: #f6f8fa;
$app-dark-background: #233142;
$app-font-color: #333333;
$app-secondary: #00BCFD;
$app-primary: #4AC420;
$app-dark-text: #191919;
$app-light-text: #7F7F7F;

$font-family: 'Mark', 'Work Sans', Helvetica, sans-serif;
$font-base: 13px $font-family;

$app-height: 666px;
$app-cti-height: 600px;
$app-width: 376px;
