$app-background: #f6f8fa;
$app-dark-background: #233142;
$app-font-color: #333333;

$font-base: 13px 'Mark', 'Work Sans', Helvetica, sans-serif;

$app-height: 666px;
$app-cti-height: 600px;
$app-width: 375px;
