@import '../../../styles/variables';
@import '../../../styles/fonts';

.directLine {
    text-align: center;
    padding: 10px 0;
    button {
        width: 155px;
        height: 45px;
        letter-spacing: -1px;
        font-weight: 100;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 6px;
    }
    span {
        color: $app-secondary;
        display: block;
        &.name {
            font-weight: 500;
            font-size: 14px;
        }
        &.number{
            font-weight: 300;
            font-size: 12px;
        }
    }
}