@import '../../../styles/variables';
@import '../../../styles/fonts';

.header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
    font-weight: 700;
    color:$app-dark-text;
    .user {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 32px;
            height: 32px;
        
        }
    }
    .mike {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        button, img {
            width: 32px;
            height: 32px;
        }
    }
    .title {
        flex-grow: 2;
        h1{
            font-size: 18px;
            text-align: center;
        }
    }
}