doctype html
html(lang='en')
  head
    title Aircall | Phone
    meta(charset='utf-8')
    link(rel='icon', href='https://dashboard.aircall.io/favicon.png')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    .container
      .header
        img(src="https://d1bvdxis049wi4.cloudfront.net/assets/home_v2/twitter_card-d17a116ce3bcf1e6e5b591e31c9f642d.png")
        .text Keyboard
      .separator
      .screen
        i.fa.fa-times
      .dial
        .one.number
          h1.num1 1
        .two.number          
          h1.num2 2      
          ul
            li a   
            li b       
            li c    
        .three.number
          h1.num3 3   
          ul
            li d
            li e    
            li f
        .four.number
          h1.num4 4
          ul
            li g 
            li h    
            li i
        .five.number
          h1.num5 5    
          ul
            li j 
            li k    
            li l
        .six.number
          h1.num6 6
          ul
            li m 
            li n    
            li o
        .seven.number
          h1.num7 7
          ul
            li p 
            li q    
            li r    
            li s
        .eight.number
          h1.num8 8
          ul
            li t 
            li u    
            li v
        .nine.number
          h1.num9 9
          ul
            li w       
            li x       
            li y       
            li z
        .star.number
          h1.star1 * 
        .zero.number
          h1.zero1 0    
        .tag.number
          h1.tag1 #


    script(type='text/javascript', src='/js/app.js')
