doctype html
html(lang='en')
  head
    title Aircall | Phone
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel='icon', href='https://dashboard.aircall.io/favicon.png')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    .container
      .header        
        img(src="https://d1bvdxis049wi4.cloudfront.net/assets/home_v2/twitter_card-d17a116ce3bcf1e6e5b591e31c9f642d.png")
        p Keyboard
      .separator
      .dialer 

        .input
          input(type="text", maxlength="15", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
          i.fa.fa-times    
        .keyboard
          .col-1
            .number
              button.num1 1
          .col-2
            .number          
              button 2      
                ul
                  li a   
                  li b       
                  li c
          .col-3    
            .number
              button 3   
                ul
                  li d
                  li e    
                  li f
          .col-1
            .number
              button 4
                ul
                  li g 
                  li h    
                  li i
          .col-2
            .number
              button 5    
                ul
                  li j 
                  li k    
                  li l
          .col-3 
            .number
              button 6
                ul
                  li m 
                  li n    
                  li o
          .col-1 
            .number
              button 7
                ul
                  li p 
                  li q    
                  li r    
                  li s
          .col-2
            .number
              button 8
                ul
                  li t 
                  li u    
                  li v
          .com-3
            .number
              button 9
                ul
                  li w       
                  li x
                  li y       
                  li z
          .col-1
            .number
              button.star1 * 
          .col-2
            .number
              button 0    
          .col-3
            .number
              button #
        .select-country
          p 
            |CALL
            |USING
          i.fa.fa-ellipsis-v
          .user-infos
            .flag
            .description
              h3 Dev Team !
              p +33 6 64 09 87 28
          i.fa.fa-chevron-down
        .call
          .button
             img(src="images/calling.svg")
             .beta
               p BETA
          .separator
                    
    script(type='text/javascript', src='/js/app.js')

