doctype html
html(lang='en')
  head
    title Aircall | Phone
    meta(charset='utf-8')
    link(rel='icon', href='https://dashboard.aircall.io/favicon.png')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    .container
      .header
        img(src="https://d1bvdxis049wi4.cloudfront.net/assets/home_v2/twitter_card-d17a116ce3bcf1e6e5b591e31c9f642d.png")
        .text Keyboard
      .separator


    script(type='text/javascript', src='/js/app.js')
