doctype html
html(lang='en')
  head
    title Aircall | Phone
    meta(charset='utf-8')
    link(rel='icon', href='https://dashboard.aircall.io/favicon.png')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    .container
      //- TODO: Code, here
      //- Align me vertically & horizontally
    script(type='text/javascript', src='/js/app.js')
